/*---------------------------------- 
            common style 
----------------------------------*/

.text-tomato{
    color: #E76F51;
}

/*----------------------------------
            header section 
----------------------------------*/

.bg-header{
    background: #264653;
}

.btn-tomato{
    background: #E76F51;
    color: white;
}


/*---------------------------------- 
            featured section 
----------------------------------*/

.gray-scale-img{
    filter: grayscale(100%);
}